*{
    border:1px solid red;
    box-sizing:border-box;
}

html{

    background-color: rgb(80, 87, 122);
}



/*--------Header Container add book button ad header title---------*/

.titleAddBookButtonContainer {

    display:flex;
    justify-content: space-around;
    
    flex-wrap: wrap;
    background-color: rgb(64, 66, 88);
    
    

}

li{

    list-style: none;
}

.addBookButton {

    flex:0 1 auto;
    
    padding:1rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
    font-size: 1.5rem;
    background-color: rgb(80, 87, 122);
    border-radius: 5px;
    
}

.bookHeader {

    font-size: 2.5rem;
    background-color: rgb(107, 114, 142);
    border-radius: 5px;
    padding-left:1rem;
    padding-right: 1rem;
    align-self: center;
    
    margin-top: ;


}


/*------------Section Card Container--------------*/

.cardContainer {

    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 400px));
    grid-gap: 1rem;
    justify-content: center;
    
}




/*------------Card Articles---------------------*/

.bookInfoImageContainer{
    
    display:flex;
    flex-direction: column;
    
    background-color: rgb(235, 237, 243);
    border-top-left-radius:25px;
    border-top-right-radius: 25px;
    

}

.bookInfoImageContainer img{
  align-self: center;         /*stops images from stretching with flex*/
    
 
}

.yesButton {

    background-color: rgb(170, 172, 179);
}
.noButton {

    background-color: rgb(179, 173, 170);
}

/*---------Radio buttons and remove button container---------*/

.ratingRemoveButtonContainer {

    display:flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding-left: 1rem;
    padding-right: 1rem;
    white-space: nowrap;
    background-color: rgb(235, 237, 243);
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
    
}

.rateMe{
    display:flex;
    margin:0;
    justify-content: center;
    
    
}

.removeButton{

    margin-top:.5rem;
    margin-bottom:.5rem;
    background-color: rgb(178, 184, 217);
    border-radius: 5px;
    
    
}



/*---------------Add book submission popup form---------------*/



.addBookForm { /*Section for the whole add book form popup.*/

display:none;
max-width: auto;
position: fixed;
z-index: 10;
top:20%;
left:0;
background-color: rgb(107, 114, 142);
padding:.5rem;
border-radius: 25px;
border:5px solid rgb(143, 165, 183);

}

.addBookForm input[type='text']{

    font-size: 1.5rem;

}

.bookAddFormInput {

    display:grid;
    grid-template-rows: 1fr .1fr .1fr;
    min-width: 300px;
    font-size: 1.5rem;
    
}
.bookInfoForm{

    display: flex;
    flex-direction: column;
    
}

.addBookRatingButtons [type="radio"]{
height:15px;
width:15px;
}

.readYetRadioButtons [type="radio"]{

    height:15px;
    width:15px;
}

.addBookForm [type="submit"] {

    font-size: 1.5rem;

    }

.exitAddBookForm {
        font-size:1.5rem;
    }

    .addBookButtonCancelButton {
        padding:.5rem;
        display:flex;
        justify-content: space-around;
    }