*{
    border:1px solid red;
    box-sizing:border-box;
}

li{

    list-style: none;
}


/*--------Header Container add book button ad header title---------*/

.titleAddBookButtonContainer {

    display:flex;
    justify-content: space-around;
    
    flex-wrap: wrap;
    
    

}

.addBookButton {

    flex:0 1 auto;
    
    padding:1rem;
    margin-top: 3rem;
    margin-bottom: 3rem;
    font-size: 2rem;

}

.bookHeader {

    font-size: 4rem;
   

}


/*------------Section Card Container--------------*/

.cardContainer {

    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 400px));
    grid-gap: 1rem;
    justify-content: center;
}




/*------------Card Articles---------------------*/

.bookInfoImageContainer{
    
    display:flex;
    flex-direction: column;
    white-space: nowrap;
    

}

.bookInfoImageContainer img{
  align-self: center;         /*stops images from stretching with flex*/
 
 
}




/*---------Radio buttons and remove button container---------*/

.ratingRemoveButtonContainer {

    display:flex;
    justify-content: space-between;
    flex-wrap: nowrap;
    margin-right: 1rem;
    margin-left:1rem;
    white-space: nowrap;
}

.rateMe{
    display:flex;
    margin:0;
    justify-content: center;
    
    
}