*{
    border:1px solid red;
    box-sizing:border-box;
}

li{

    list-style: none;
}


/*--------Header---------*/

.titleAddBookButtonContainer {

    display:flex;
    justify-content: space-around;
    

}

.addBookButton {

    flex:.5 1 auto;
    margin-left:5rem;
    margin-right:1rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
    font-size: 2rem;

}

.bookHeader {


}


